---
import { Icon } from "astro-icon/components";
import "../styles/flags.css";
const { icon, text, flag, url, internal } = Astro.props;
---

<li class="link">
  <Icon class="icon" name={`tabler:${icon}`} />
  <span title={text}>
    {
      internal ? (
        <a href={url}>{text}</a>
      ) : (
        <a href={url} target="_blank" rel="noopener noreferrer">
          {text}
        </a>
      )
    }
  </span>
  {
    flag && (
      <div class="flag-wrapper">
        <span class={`flag flag:${flag}`} />
      </div>
    )
  }
</li>

<style>
  .icon {
    font-size: 0.875rem;
    min-width: 1rem;
  }

  li {
    font-family: JetBrainsMono;
    list-style: none;
    font-size: 0.875rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
  }

  li:hover {
    transform: translateX(0.25rem);
  }

  li > span:nth-child(2) {
    margin: 0 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li a {
    color: var(--theme-color);
    text-decoration: none;
  }

  li a:hover,
  li a:active {
    color: var(--theme-color-hover);
    transition: color 0.2s ease-in;
  }

  .flag-wrapper {
    margin-left: auto;
  }

  .flag {
    border-style: solid;
    border-width: 0.01rem;
  }
</style>
